body{
    background-color: beige;
}
p{
    font-weight: bold;
}
.h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

fieldset{
    background-color: gray;
    border-radius: 5px;
    text-align: justify;
}
.btn{
    background-color: #0057D9;
    font-size: 20px;
    margin-left: 600px;
    padding: 10px;
    font-weight: bold;
}